<section>
  {{#if products}}
    <h1>LIST OF PRODUCTS</h1>
    <article class="cartsContainer">
      {{#each products}}
        <div class="cartsStyle">
          <div class="futureImg">
            <p>Future img product</p>
          </div>
          <div class="cardsBody">
            <h3>{{this.title}}</h3>
            <p>{{this.description}}</p>
            <b>{{this.price}}$</b>
          </div>
          <div class="codeCards"><b>#{{this.code}}</b></div>
        </div>
      {{/each}}
    </article>
  {{else}}
    <h1>We sorry, not finded any product</h1>
  {{/if}}
</section>