<div>
    <h1>LIST OF PRODUCTS</h1>
    <div>
        <h2>welcome {{user.name}}</h2>
        <p>your session email is {{user.email}}</p>
    </div>
    <div class="cartsConteiner">
        {{#each products}}
            <div class="cartStyle">
                <div class="textCart">
                    <h2>{{this.title}}</h2>
                    <p>{{this.description}}</p>
                    <b>${{this.price}}</b>
                </div>
                <button>add to cart</button>
            </div>
        {{/each}}
    </div>
    <div class="paginationStyle">
        {{#if hasPrevPage}}
            <a href="/products/?page={{prevPage}}">
                <button>Previus Page</button>
            </a>
        {{/if}}
        <b>{{page}}</b>
        {{#if hasNextPage}}
            <a href="/products/?page={{nextPage}}">
                <button>Next page</button>
            </a>
        {{/if}}
    </div>
</div>